[submodule "common"]
	path = common
	url = https://github.com/7Ji/alarm-builder-common.git
[submodule "build/ampart"]
	path = build/ampart
	url = https://aur.archlinux.org/ampart.git
[submodule "build/yay-bin"]
	path = build/yay-bin
	url = https://aur.archlinux.org/yay-bin.git
[submodule "build/frp-bin"]
	path = build/frp-bin
	url = https://aur.archlinux.org/frp-bin.git
[submodule "common/"]
	url = https://github.com/a520ass/alarm-builder-common.git
